*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
background: rgb(55, 55, 185);
}

.todo-app, .todo-app1{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 55em;
  height: 40em;
  background: rgb(24, 24, 27);
  text-align: center;
  margin: 2.5em auto;
  border-radius: 1em;
  padding-bottom: 1em;
  overflow: auto;
}

.todo-app1{
  width: 18em;
  height: 32em;
}

h1 {
  margin: 1em 0;
  color: white;
  font-size: 2em;
}

.todo-form, .todo-form1 {
  margin-bottom: 1em;
}

.todo-form1{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-input, .todo-input1 {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid blue;
  width: 32em;
  background: transparent;
  color: white;
}

.todo-input1 {
  width: 15.1em;
}

.todo-input::placeholder {
  color: white;
}

.todo-button, .todo-button1{
  padding: 14px 32px 14px 16px;
  border-radius: 0 4px 4px 0;
  border: 2px solid blue;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
}

.todo-input.edit {
  border: 2em solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 1.5em 2.2em;
}

.todo-row, .todo-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em auto;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 1em;
  border-radius: 3em;
  width: 50vw;
}

.todo-row1 {
  padding: 0.5em;
  width: 17em;
}

.todo-row:nth-child(4n + 1), .todo-row1:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2), .todo-row1:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3), .todo-row1:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

.delete-icon {
  margin-right: 0.5em;
  color: white;
}

.edit-icon {
  color: white;
}